{% extends "layout.html" %}

{% block main %}

<div class="container">

    <h1 class="uk-text-center my-title">Votre panier</h1>

    <div class=" uk-margin-large-top">

        <p>
            <a id="validate" onclick="validate()" href="#" class="uk-button uk-button-success">Passer toutes les commandes: {{ total_price }} €</a>
        </p>

        {% for order in bucket %}

        <div class="uk-card uk-card-default uk-child-width-1-1@s uk-grid-collapse uk-margin" uk-grid>

            <div class="uk-width-1-3@m uk-card-media-left uk-cover-container">
                <img src="{{ order.product.image.url }}" alt="{{ order.product.name }}" uk-cover/>
                <canvas width="150" height="150"></canvas>
            </div>
            <div class="uk-width-2-3@m">
                <div class="uk-card-body uk-padding">
                    <div class="row col-12">

                        <div class="col-3">
                            <p class="uk-text-meta">
                                Commande n°
                                {{ order.pk }}
                            </p>
                        </div>

                        <div class="col-4">
                            <a class="uk-text-meta" href="{{ order.product.get_absolute_url }}">
                                {{ order.product.name}}
                            </a>
                        </div>

                        <div class="col-5">
                            <p class="uk-text-meta">
                                Commandé le {{ order.created_at }}
                            </p>
                        </div>

                    </div>
                    <div class="row col-12">
                        <div class="col-12">
                            <a onclick="deleteOrder({{order.pk}})" href="#" class="del_from_bucket col-12 uk-button uk-button-danger">Supprimer du panier</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="uk-text-center uk-text-lead">
            Vous n'avez aucune commande dans votre panier
        </p>
        {% endfor %}

    </div>

    <button id="modal" uk-toggle="target: #offcanvas-reveal" class="uk-button uk-button-default uk-margin-small-right" type="button"></button>

    <!-- This is the modal with the default close button -->
    <div id="offcanvas-reveal" uk-offcanvas="mode: reveal; overlay: true">
        <div class="uk-offcanvas-bar">
    
            <button class="uk-offcanvas-close" type="button" uk-close></button>
    
            <h3>Réservation de votre commande</h3>
    
            <p>
                Veuillez nous contacter avec le code #<span id="code"></span> pour valider et reserver votre commande.
            </p>

            <p class="uk-text-danger">
                Sans avoir appelé pour confirmer votre commande, <br>
                il se peut que notre équipe ne la voie pas et que votre commande soit annulée.
            </p>

            <div class="uk-position-bottom">
                <a href="{% url 'contact:home' %}" class="uk-button uk-button-default uk-width-1-1 uk-margin-bottom">Contactez-nous</a>
            </div>
    
        </div>
    </div>


</div>

{% endblock main %}

{% block script %}
<script>

    $('#modal').hide()

    $('.del_from_bucket').click(e => {
        e.preventDefault()
    })


    const deleteOrder = (id) => {
        $.ajax({
            url: `remove/order/${id}/`,
            success: data => {
                UIkit.notification({
                    message: "Votre commande a été annulée",
                    status: "primary",
                    timeout: 2000
                })
            },
            error: error => {
                UIkit.notification({
                    message: "Impossible d'annuler votre commande",
                    status: "danger ",
                    timeout: 2000
                })
            }
        })
    }

    const validate = () => {
        $.ajax({
            url: "{% url 'shop:validate_bucket' %}",
            success: data => {
                if(data.code){
                    $('#code').text(data.code)
                    $('#modal').trigger('click')
                }
            },
            error: error => {

            }
        })
    }

</script>
{% endblock script %}
