{% extends "layout.html" %}


{% block main %}


<div class="container">

    <form action="#" method="post" class="uk-panel uk-padding">

        {% csrf_token %}

        {% if form.errors %}
            <div>
                {% for error in form.errors.values %}
                    <p class="uk-alert uk-alert-danger">
                        
                    </p>
                {% endfor %}
            </div>
        {% endif %}

        <fieldset class="uk-fieldset">

            <legend class="uk-legend">Nouveau compte</legend>

            <div id="step-1">

                <div class="uk-margin">

                    <label class="label" for="">Entrez votre nom d'utilisateur</label>
                    
                    <div>
                        <div class="uk-width-1-1 uk-inline">
                            <span class="uk-form-icon" uk-icon="icon:user"></span>
                            {{ form.username }}
                        </div>
                    </div>
                </div>

                <div class="uk-margin">

                    <label class="label" for="">Entrez votre adresse email</label>
                    <div>
                        <div class="uk-width-1-1 uk-inline">
                            <span class="uk-form-icon" uk-icon="icon: mail"></span>
                            {{ form.email }}
                        </div>
                    </div>
                
                </div>


                <div class="form-group">
                    <input id="continue" type="button" value="Continuer" class="uk-button uk-button-secondary">
                </div>

            </div>

            <div id="step-2" uk-hidden>
                <div class="uk-margin">

                    <label class="label" for="">Entrez votre mot de passe</label>
                    <div>
                        <div class="uk-width-1-1 uk-inline">
                            <span class="uk-form-icon" uk-icon="icon:lock"></span>
                            {{ form.password }}
                        </div>
                    </div>
            
                </div>

                <div class="uk-margin">

                        <label class="label" for="">Repetez votre mot de passe</label>
                        <div>
                            <div class="uk-width-1-1 uk-inline">
                                <span class="uk-form-icon" uk-icon="icon:lock"></span>
                                {{ form.rptpassword }}
                            </div>
                        </div>
                
                    </div>

                <div class="form-group">
                    <input type="submit" value="Se connecter" class="uk-button uk-button-secondary">
                </div>

            </div>
        
        </fieldset>

    </form>

    <p class="uk-text-meta">
        Vous avez déjà un compte ?
        <a href="{% url 'accounts:login' %}">Connectez-vous alors !</a>
    </p>

</div>

{% endblock main %}

{% block script %}

<script>

    // La deuxième partie du formulaire est cachée par défaut.
    $('#step-2').hide()

    $('#continue').click(e => {
        $('#continue').fadeOut(200, () => {
            $('#step-2').fadeIn(300)
        })
    })

</script>


{% endblock script %}