{% load static %}
{% load google_analytics %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Ubuntu" rel="stylesheet" />
    
    <!-- BULMA CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.8/css/uikit.min.css" />
    <link rel="stylesheet" href="{% static 'uikit/dist/css/uikit.min.css' %}" />
    
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous" />
    {% block css %}{% endblock css %}

    <style>
        main {
            min-height: 68vh;
        }
    </style>

    {% block head %}
    
    {% endblock head %}

    {% block meta %}{% endblock meta %}


    <title>{% block title %}Bienvenue{% endblock title %}</title>
</head>
<body>

    <header>{% include "general/header.html" %}</header>
    <div class="">
        <div class="">
            {% if user.is_staff and is_admin_page %}
                {% include "admin/navigation.html" %}
            {% endif %}
            <main class="uk-section uk-section-muted uk-padding">{% block main %}{% endblock main %}</main>
        </div>
    </div>

    {% if home %}
    <section class="uk-width-large-1-1 uk-section uk-text-center uk-section-default uk-padding" uk-scrollspy="cls: uk-animation-scale-up; repeat: true">
        <h1 class="uk-h1 my-title">Où nous trouver ?</h1>
        <p class="uk-text-lead">Notre entreprise est basée en Algérie où nous exerçons notre activité</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2648.9102470448715!2d-4.4887778842261845!3d48.40066674077897!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4816bbe5e37f2f2d%3A0x265f6b5ac8d1efa6!2s5+Rue+Bernard+Palissy%2C+29200+Brest!5e0!3m2!1sfr!2sfr!4v1537332271532" class="uk-width-1-1 uk-height-large" frameborder="0" allowfullscreen></iframe>
    </section>
    {% endif %}
    <footer class="uk-background-secondary">{% include "general/footer.html" %}</footer>
    

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    
    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.8/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.8/js/uikit-icons.min.js"></script>

    <script>
        Turbolinks.start()
    </script>
    {% block script %}{% endblock script %}
    {% google_analytics %}
</body>
</html>