{% extends "layout.html" %}

{% block title %}
Nouveau produit
{% endblock title %}

{% block main %}

<div>
    
    <h1 class="uk-text-center my-title">Ajout d'un nouveau produit</h1>
    
    <form action="" method="post" enctype="multipart/form-data">
        
        {% csrf_token %}
        
        <fieldset class="uk-fieldset">
            
            <legend class="uk-legend"></legend>
            
            <div class="uk-margin">
                <label for="" class="label">Nom du produit</label>
                {{ form.name }}
            </div>

            <div class="uk-margin">
                <label for="category" class="label">Catégorie du produit</label>
                {{ form.category }}
            </div>
            
            <div class="row">
                <div class="form-group col-sm-12 col-md-6">
                    <label for="prix" class="label">Prix du produit</label>
                    {{ form.price }}
                </div>
                <div class="form-group col-sm-12 col-md-6">
                    <label for="city" class="label">Ville</label>
                    {{ form.city }}
                </div>
                <div class="form-group col-sm-12 col-md-6">
                    <label for="quantity" class="label">Quantité du produit</label>
                    {{ form.quantity }}
                </div>
                <div class="form-group col-sm-12 col-md-6">
                    <label for="availability" class="label">Disponibilité du produit</label>
                    {{ form.availability }}
                </div>
            </div>
            
            <div class="uk-margin">
                <label for="" class="label">Description du produit</label>
                {{ form.description }}
            </div>
            
            <div class="uk-margin">
                <label for="" class="label">Images du produit</label>
                {{ form.pictures }}
            </div>
            
            
            <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>
            
            <div class="uk-margin">
                <input type="submit" value="Ajouter le produit" class="uk-button uk-button-secondary" />
            </div>
            
        </fieldset>
        
    </form>
    
</div>

{% endblock main %}

{% block script  %}
<script>
    
    var bar = document.getElementById('js-progressbar');
    
    UIkit.upload('.js-upload', {
        
        url: '',
        multiple: true,
        
        beforeSend: function () {
            console.log('beforeSend', arguments);
        },
        beforeAll: function () {
            console.log('beforeAll', arguments);
        },
        load: function () {
            console.log('load', arguments);
        },
        error: function () {
            console.log('error', arguments);
        },
        complete: function () {
            console.log('complete', arguments);
        },
        
        loadStart: function (e) {
            console.log('loadStart', arguments);
            
            bar.removeAttribute('hidden');
            bar.max = e.total;
            bar.value = e.loaded;
        },
        
        progress: function (e) {
            console.log('progress', arguments);
            
            bar.max = e.total;
            bar.value = e.loaded;
        },
        
        loadEnd: function (e) {
            console.log('loadEnd', arguments);
            
            bar.max = e.total;
            bar.value = e.loaded;
        },
        
        completeAll: function () {
            console.log('completeAll', arguments);
            
            setTimeout(function () {
                bar.setAttribute('hidden', 'hidden');
            }, 1000);
            
            UIki.notification({
                message: "Images chargées avec succès",
                status: "success"
            })
            
        }
        
    });
    
</script>
{% endblock script  %}