{% extends "layout.html" %}

{% block main %}

<div class="uk-padding-remove">

    <section class="uk-section uk-section-muted uk-text-center uk-margin-remove uk-width-1-1" uk-scrollspy="cls: uk-animation-scale-up; repeat: true">

        <h3 class="uk-h1 my-title">Nos produits</h3>
            <div class=" uk-child-width-1-3@m uk-child-width-1-3@s uk-grid-small" uk-grid="masonry:true;">
                {% for category in categories %}
                <div>
                        <div class="uk-inline">
                            <img src="{{ category.image.url }}" alt="{{ category.name }}" />
                            <div class="uk-overlay-primary uk-position-cover"></div>
                            <div class="uk-overlay uk-light uk-position-bottom">
                                <p class="uk-visible@m">{{ category.description }}</p>
                                <a href="{{ category.get_absolute_url }}" class="">{{ category.name }} <span class="uk-badge">{{ category.products.count }}</span></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

    </section>
    <section class="uk-width-large-1-1 uk-section uk-text-center uk-section-default uk-padding" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
        <div class="uk-container">
            <h3 class="uk-h1 my-title">Nos derniers produits</h3>
            <p class="">
                Nos derniers produits
            </p>
            <div class="uk-flex-left uk-child-width-1-3@m uk-grid-match uk-grid-small" uk-grid>
                    {% for product in products %}
                    <div>   
                            <div class="uk-card uk-card-defaultuk-margin">
                                <div class="uk-card-media-top uk-cover-container">
                                    <img src="{{ product.image.url }}" alt="{{ product.name }}" uk-cover/>
                                    <canvas width="" height=""></canvas>
                                </div>
                                <div>
                                    <div class="uk-card-body">
                                        <a class="uk-position-absolute uk-transform-center" style="left: 20%; top: 50%" href="#" uk-marker>Prix: {{ product.price }}</a>
                                        <a href="{{ product.get_absolute_url }}" class="uk-button uk-button-text">{{ product.name }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                    <p class="alert alert-info">
                        Aucun produit n'est disponible pour le moment
                    </p>
                    {% endfor %}
            </div>
        </div>
    </section>

    </div>

</div>

{% endblock main %}